<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Script Eden ( http://scripteden.net/ ) Template Builder v2.0.0">  
    <!--pageMeta-->

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

    {% if header.show() %}
        <header>
            <div class="content-column group space-between">
                <div>
                    <h3 class="logo"><a class="primary-color" href="/">PotentPotables</a></h3>
                </div>
                <div class="group">
                    {% if cart_helper and cart_helper.hasCart() %}
                        <div>
                        {% if cart_helper.hasOneItem() %}
                            <span>{{ cart_helper.getCartItemCount() }} Item (${{ cart_helper.getCartTotal() }})</span> <a href="/checkout" class="button" role="button">Checkout</a></div>
                        {% else %}
                            <span>{{ cart_helper.getCartItemCount() }} Items (${{ cart_helper.getCartTotal() }})</span> <a href="/checkout" class="button" role="button">Checkout</a></div>
                        {% endif %}
                    {% endif %}
                    {% if header.showDashboardButton() %}
                        <a href="/admin" class="button" role="button">Dashboard</a>
                    {% endif %}
                    {% if header.showLogin() %}
                        <a href="/login" class="button" role="button">Login</a>
                    {% elseif header.showLogout() %}
                        <a href="/logout" class="button" role="button">Logout</a>
                    {% endif %}
                </div>
            </div>
        </header>
    {% endif %}

    {% block body %} 

    {% endblock %}

    <!-- Load JS here for greater good =============================-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/js/jquery.payment.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://use.fontawesome.com/d57616cb58.js"></script>

</body>
</html>
