{% extends 'NoIncSimpleStorefrontBundle:Default:base.html.twig' %}

{% block body %} 

    <form action="{{ path('upload_image') }}" method="post">
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>

{% endblock %}

