{% extends 'NoIncSimpleStorefrontBundle:Default:base.html.twig' %}

{% block body %} 

    <div class="content-column group wrap margin-top">

                {% for recipe in recipes %}
                    {% include 'NoIncSimpleStorefrontBundle:Default:product-buy.html.twig' with {'recipe': recipe} %}
                {% endfor %}

    </div><!-- /.group -->

{% endblock %}
