@mixin flex($content-width) {
    .group {
        display: flex;
        &.centered {
            justify-content:center;
        }
        &.space-between {
            justify-content:space-between;
        }
        &.wrap {
            flex-wrap:wrap;
        }
    }
}
