/* John's additions */

header {
    background-color:#F8F1FF;
    width: 100%;
    min-height: 80px;
}
header h3 {
    margin-top:24px;
}
header .btn {
    margin-top:20px;
}
.btn.btn-primary {
    padding: 10px 10px 7px 10px;
}
.content-column {
    max-width:1024px;
    margin:0 auto;
}
